
.row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}
.row.div-3 {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
}
picture {
    display: block;
    height: 230px;
    overflow: hidden;
}
picture img {
    width: 100%;
}